/node_modules
/public/hot
/public/storage
/public/fonts
/public/images
/storage/*.key
/resources/admin
/resources/views
/resources/sass
/storage/media
/storage/cache
/storage/publisher
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
package-lock.json
mix-manifest.json
composer.phar
composer.lock